/* Sidebar */
.sidebar {

  /* Height of navbar */
  background: rgb(1, 165, 246) !important;
  /* background: linear-gradient(180deg, rgb(1, 165, 246) 0%, rgb(0, 150, 225) 100%); */
  padding-left: 10px;
  background-color: rgb(1, 165, 246);
  height: 100vh;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.176);
  transition: .5s;
}

.small {
  padding: 0px;
  transition: .5s;
  width: 50px;
}

.small .list-option {
  padding: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  justify-content: center;
  border-radius: 0px;

  color: rgb(255, 255, 255);
  background-color: rgba(0, 0, 0, 0);
}

.list-option {
  padding: 10px;
  color: white;
  transition: .5s;
  font-size: 22px;
  text-decoration: none;
  border-radius: 10px;
}

.list-option {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.list-option fa-icon {
  margin-left: 10px;
}

.small .list-option fa-icon {
  margin-left: 0px;
}

.list-option:hover {
  transform: scale(1.05);
  transition: .5s;
  color: rgb(1, 165, 246);
  background-color: white;
  font-size: 22px;
  text-decoration: none;
  border-radius: 10px;
}
.menu{
  color: white;
  transform: scale(1.05);
  transition: .5s;
  font-size: 22px;
  text-decoration: none;
  border-radius: 10px;
}