<!-- <div>
    <nav *ngIf="!isPlegado" id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-white">
        <div class="position-sticky">    
            <a (click)="plegar()" [ngClass]="{active: isListaIntegrantes}" class="menu">
                <fa-icon  [icon]="faBars"></fa-icon>
            </a>
            <div class="list-group list-group-flush mx-3 mt-4">
                <a routerLink="/listaUsuarios" [ngClass]="{active: isListaEjercicios}" class="list-option">
                    <span>Usuarios</span><fa-icon [icon]="faClipboardUser" />
                </a>
                <a routerLink="/listaContadores" [ngClass]="{active: isListaAsignaciones}" class="list-option">
                    <span>Contadores</span> <fa-icon [icon]="faBaseballBatBall"></fa-icon>
                </a>
                <a routerLink="/listaAsistencias" [ngClass]="{active: isListaFamilias}" class="list-option">
                    <span>Asistencias</span> <fa-icon [icon]="faballotcheck"></fa-icon>
                </a>
                <a routerLink="/listaTiposMenu" [ngClass]="{active: isListaFamilias}" class="list-option">
                    <span>Tipos de menu</span> <fa-icon [icon]="faUtensils"></fa-icon>
                </a>
                <a (click)="logOut()" [ngClass]="{active: isListaFamilias}" class="list-option last">
                    <span>Cerrar sesion</span> <fa-icon [icon]="faUtensils"></fa-icon>
                </a>
            </div>
        </div>
    </nav>
    <nav *ngIf="isPlegado" id="sidebarMenuSmall" class="collapse d-lg-block sidebar small collapse bg-white">
        <div class="position-sticky">
            <a (click)="plegar()" [ngClass]="{active: isListaIntegrantes}" class="list-option">
                <fa-icon  [icon]="faBars"></fa-icon>
            </a>
            <div class="list-group list-group-flush mx-3 mt-4">
                <a routerLink="/listaUsuarios" [ngClass]="{active: isListaEjercicios}" class="list-option">
                <fa-icon [icon]="faClipboardUser" />
                </a>
                <a routerLink="/listaContadores" [ngClass]="{active: isListaAsignaciones}" class="list-option">
                   <fa-icon [icon]="faBaseballBatBall"></fa-icon>
                </a>
                <a routerLink="/listaAsistencias" [ngClass]="{active: isListaFamilias}" class="list-option">
                 <fa-icon [icon]="faballotcheck"></fa-icon>
                </a>
                <a routerLink="/listaTiposMenu" [ngClass]="{active: isListaFamilias}" class="list-option">
                   <fa-icon [icon]="faUtensils"></fa-icon>
                </a>
                <a (click)="logOut()" [ngClass]="{active: isListaFamilias}" class="list-option last">
                <fa-icon [icon]="faUtensils"></fa-icon>
                </a>
            </div>
        </div>
    </nav>
</div> -->