<nav *ngIf="!isPlegado" id="sidebarMenu" class="sidebar">
    <div class="interior position-sticky">    
        <div class="sidebar-1 list-group list-group-flush mx-3 mt-4">
            <a routerLink="/vistaEmpresa" [ngClass]="{active: isHidro_isca}" class="list-option">
                <span>Hidro isca</span> <fa-icon [icon]="faChildren"></fa-icon>
            </a>
            <a routerLink="/listaUsuarios" [ngClass]="{active: isListaUsuarios}" class="list-option">
                <span>Usuarios</span><fa-icon [icon]="faClipboardUser"></fa-icon>
            </a>
            <a routerLink="/listaContadores" [ngClass]="{active: isListaContadores}" class="list-option">
                <span>Contadores</span><fa-icon [icon]="faMobile"></fa-icon>
            </a>
            <a routerLink="/listaConsumos" [ngClass]="{active: isListaConsumos}" class="list-option">
                <span>Consumos</span><fa-icon [icon]="faGastar"></fa-icon>
            </a>
            <a routerLink="/listaRecivos" [ngClass]="{active: isListaRecivo}" class="list-option">
                <span>Recivo</span><fa-icon [icon]="faRecivo"></fa-icon>
            </a>
        </div>
        <!-- <div  class="sidebar-1 list-group list-group-flush mx-3 mt-4 bottom-0">
            <a (click)="logOut()" [ngClass]="{active: isListaFamilias}" class="list-option last">
                <span>Cerrar sesion</span> <fa-icon [icon]="faPowerOff"></fa-icon>
            </a>
        </div> -->
    </div>
</nav>
