<div>
    <div class="nav">
        <div class="perfil">
            <img width="40px" class="rounded-circle" src="assets/perfil.webp">
            <p>Administrador</p>
        </div>
    </div>
    <div class="sidebar">
        <app-navegar-por-ventanas class="sidebar" [page]="page"></app-navegar-por-ventanas>
    </div>
    <div class="content">
        <div>
            <app-vista-empresa *ngIf="page.includes('/vistaEmpresa')"></app-vista-empresa>
            <app-usuarios-lista *ngIf="page.includes('/listaUsuarios')"></app-usuarios-lista>
            <app-contadores-lista *ngIf="page.includes('/listaContadores')"></app-contadores-lista>
            <app-consumos-lista *ngIf="page.includes('/listaConsumos')"></app-consumos-lista>
            <app-recivos-lista *ngIf="page.includes('/listaRecivos')"></app-recivos-lista>
            <!-- <app-tipos-menu-crud *ngIf="page.includes('/listaTiposMenu')"></app-tipos-menu-crud>
            <app-asistencias-admin-crud *ngIf="page.includes('/listaAsistencias')"></app-asistencias-admin-crud> -->
        </div>
    </div>
</div>
