<div class="col-12 row">
  
    <div class="col-12" *ngIf="selected_recivo.id == 0">
      <h2>Nuevo recivo</h2>
    </div>
    <div class="col-12" *ngIf="selected_recivo.id != 0">
      <h2>Editando el recivo del {{selected_recivo.usuario[1]}}</h2>
    </div>
    <div class="col-4"><label>Mes:</label>
      <select [(ngModel)]="selected_recivo.periodo_trimestral">
        <option *ngFor="let month of months" [value]="month.value">{{ month.name }}</option>
      </select>
    </div>
    <div class="col-4"><label>Año:</label><input type="numbre" [(ngModel)]="selected_recivo.anyo" placeholder="Año">
    </div>
    <div class="col-4 seleccionar">
        <label>Usuario:</label>
        <app-seleccionar #seleccionarUsuarios class="col-10" [estaPorEncima]="true" [objetoTratar]="'usuarios'" [esBuscableEnBaseDeDatos]="true"
          [esGetAllAlEmpezar]="true" (OutputObjeto)="addUsuario($event)"></app-seleccionar>
      </div>
    <!-- <div class="col-3"><label>MCCT:</label><input type="numbre" [(ngModel)]="selected_recivo.MCCT"
        placeholder="Metros Cubicos Consumidos"></div>
    <div class="col-3"><label>VPMCCT:</label><input type="text" readonly [(ngModel)]="selected_recivo.VPMCCT"
        placeholder="Valor por Metros Cubicos Consumidos Total"></div> -->
    
    <div class="col-1">
      <button *ngIf="selected_recivo.id != 0" class="btn btn-info" (click)="crearRecivo()">Modificar</button>
    </div>
    <div class="col-1">
      <button class="btn btn-success" *ngIf="selected_recivo.id == 0" (click)="crearRecivo()">Crear</button>
    </div>
    <div class="col-1">
      <button class="btn btn-danger" (click)="limpiar_datos()">Cancelar</button>
    </div>
  </div>
  
  
  <div class="table-responsive">
    <table class="table table-hover">
      <thead class="thead-light">
        <tr>
          <th scope="col" width="100" sortableUsuario="name">
            Usuario
          </th>
          <th scope="col" sortableUsuario="nifcif" class="text-center" width="100">
            Año
          </th>
          <th scope="col" sortableUsuario="nifcif" class="text-center" width="100">
            Periodo Trimestral
          </th>
          <th scope="col" sortableUsuario="nifcif" class="text-center" width="100">
            MCC
          </th>
          <th scope="col" sortableUsuario="nifcif" class="text-center" width="100">
            VPMCCT
          </th>
          <th scope="col" sortableUsuario="nifcif" class="text-center" width="100">
            Estado
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let recivo of recivos">
          <td (click)="openOptionsForm(recivo)">
            {{ recivo.usuario[1] }}
          </td>
          <td (click)="openOptionsForm(recivo)" class="text-center">
            {{ recivo.anyo }}
          </td>
          <td (click)="openOptionsForm(recivo)" class="text-center">
            {{ recivo.periodo_trimestral }}
          </td>
          <td (click)="openOptionsForm(recivo)" class="text-center">
            {{ recivo.MCCT }}
          </td>
          <td (click)="openOptionsForm(recivo)" class="text-center">
            {{ recivo.VPMCCT }}
          </td>
          <td (click)="openOptionsForm(recivo)" class="text-center">
            {{ recivo.estado }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>